<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock title%}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<header>{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/medicine-svgrepo-com.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                 Healcure
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'catalog' %}">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'reserve'%}">Резервная ссылка</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <span class="nav-link active">Пользователь: {{user.get_username }}</span>
                        <li><a class="nav-link active" href="{% url 'logout' %}?next={{request.path}}">Выход</a></li>
                        {% else %}
                        <li><a class="nav-link active" href="{% url 'login' %}?next={{request.path}}">Вход</a></li>
                        {% endif %}
                        </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock header%}
</header>
<div>{% block content %} Контент {% endblock content %}</div>
<div>
    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{request.path }}?page={{page_obj.previous_page_number}}
                       ">Предыдущая</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из
                    {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{request.path }}?page={{page_obj.next_page_number}}
                        ">Следующая</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock pagination %}
</div>
<div>{% block footer %}
    {% block copyright %}
    <p>Copyright Монгуш А.А. </p>
    {% endblock copyright %}
    {% endblock footer %}</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>
</html>